<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 140px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="p-5 mb-5 bg-white jumbotron text-center" style="background: linear-gradient(48deg, rgba(14,51,207,1) 0%, rgba(0,212,255,1) 74%);
    border-radius: 25px; box-shadow: 0px 0px 100px dimgrey;">
        <br />
        <h1 class="text-white">iPhone File Transfer</h1>
        <br/><br/>
        <p class="text-white">Before we getting started, link your Google Drive for uploading files..</p>
        <br/>
        <a style="width: 150px; height: 50px" href="<%= url %>" class="btn btn-danger shadow-lg mb-5 pt-4 btn-lg text-center"><span class="fa fa-google-plus"></span>
            Google</a>

    </div>

</div>
</body>
</html>
